<div class="container6">
  <div class="panel panel-primary">

    <div id="clearance" class="sign-up">
      <h2><%= t(".title") %></h2>

      <%= form_for(@user) do |form| %>
        <div class="text-field">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
        </div>

        <div class="text-field">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, type: 'text' %>
        </div>

        <div class="text-field">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, type: 'text' %>
        </div>

        <div class="date-field">
          <%= form.label :birthdate %>
          <%= form.text_field :birthdate, type: 'date' %>
        </div>

        <div class="password-field">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="avatar-field">
          <%= form.label :avatar %>
          <%= form.file_field :avatar %>
        </div>
        
        <%= form.submit %>
      <% end %>


    </div>
  </div>
</div>